.regulartext {
	color: #666666;
	font-family: "Verdana";
	font-size: 9pt;
}

.smalltext {
	color: #666666;
	font-family: "Verdana";
	font-size: 10px;
}

a {
	  text-decoration: none;
	  color: #CCCCCC;
	  font-family: "Verdana";
	  font-weight: bold;
}

.headertext {
	font-family: "Verdana";
	font-size: 16pt;
	font-weight: bold;
	color: #999999;
}